# Exclude project files from language stats
*.vcxproj linguist-generated
*.sln linguist-generated
*.filters linguist-generated

# Treat shader files as C++
*.glsl linguist-language=C++

thirdparty/glm-1.0.2/** linguist-vendored

