# Exclude project files from language stats
*.vcxproj linguist-generated
*.sln linguist-generated
*.filters linguist-generated

# Treat shader files as glsl
*.glsl linguist-language=GLSL

thirdparty/glm-1.0.2/** linguist-vendored

